.NavButton {
  padding-top: 4px;
  color: white;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0,.99,.55,.89);
  position: relative;
  overflow: hidden;
}

.NavButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background: linear-gradient(45deg, #006E47, #97C21E);
  z-index: -1;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

.NavButton.gradient::before {
  opacity: 1;
}

.NavButton:hover::before {
  opacity: 1;
}

.NavButton:hover,
.NavButton.gradient:hover {
  transform: scale(1.1);
}

.hamburger-react {
  position: relative !important;
  top: -14px !important;
  left: -4px !important;
  width: 30px !important;
  height: 24px !important;
}

.NavButton .History {
  transition: transform 0.2s linear;
  transform: rotate(0deg);
}

.NavButton:hover .History {
  transition: transform 0.2s linear;
  transform: rotate(-30deg);
}

.logo-link:hover img {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}